{% extends "menu.html" %}
{% block title %}О компании{% endblock title %}
{% block header %}О компании{% endblock header %}

{% block content %}
<li><a href="/">На главную</a></li>
<p>
    Кузовное ателье GENEZISCAR — стремительно развивающаяся компания, оказывающая профессиональные услуги технического обслуживания, слесарного и кузовного ремонта автомобилей, покраски и тюнинга авто в Минске. Наш автосервис оснащен новым современным оборудованием и инструментом, а также имеет в штате квалифицированных специалистов с большим опытом практической работы. Доверив свой автомобиль нашим мастерам, вы можете быть уверены в оперативном выполнении заказа и высоком качестве ремонтных работ.
Обращаясь в компанию GENEZISCAR, вы доверяете ремонт и тюнинг вашего автомобиля специалистам, которые знают и любят свою работу. Квалификация наших механиков позволяет выполнять ремонтные работы любой сложности. При этом у нас очень демократичные расценки на все услуги, а качество обязательно подтверждается гарантией.

Мы ценим своих клиентов, и всегда стараемся работать так, чтобы они могли рекомендовать нас своим друзьям и знакомым. Поэтому мы предлагаем ряд весомых преимуществ:
<ul>
    <li>Широкий спектр услуг по техническому обслуживанию, слесарному и кузовному ремонту, тюнингу, покраске легковых автомобилей и микроавтобусов всех марок.</li>
    <li>Доступные цены, которые не изменяются в процессе выполнения работ.</li>
    <li>Четкое соблюдение заранее оговоренных с клиентом сроков выполнения работ.</li>
    <li>Индивидуальный подход и вежливое отношение к каждому клиенту.</li>
</ul>
<a href="/reviews">Отзывы клиентов</a>
<a href="/qa">Частые вопросы</a>
</p>
{% endblock content %}