<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock header %}</h1>
    </header>
    <nav>
        <h2>Меню</h2>
        <ul class="navigation-list">
            <li><a href="/about_company">О нас</a></li>
            <li><a href="/news">Новости</a></li>
            <li><a href="/qa">FAQ</a></li>
            <li><a href="/contacts">Сотрудники</a></li>
            <li><a href="/politics">Политика конфиденциальности</a></li>
            <li><a href="/admin">Админ</a></li>
            <li><a href="/vacancies">Вакансии</a></li>
            <li><a href="/reviews">Отзывы</a></li>
            <li><a href="/promocodes">Промокоды</a></li>
            <li><a href="/statistics">Статистика</a></li>
            <li><a href="/services">Услуги</a></li>
        </ul>
    </nav>
    <main>
        <div>{% block content%}{% endblock content %}</div>
    </main>
</body>
</html>